{% extends "base.html" %}

{% block content %}

<h1 style="margin-top:0;">Congrats on your first class!</h1>

<p>
    Thank you for joining us at Ballard Grappling Club, we hope
    you enjoyed you first class. We would appreciate any feedback
    that you have, please reach out or drop us a
    <a href="https://g.page/r/CQvAuuF-LLC8EBM/review">Google Review</a>
    and let us know it went. You can view our membership options in your
    <a href="{{frontend_url}}/dashboard">dashboard</a> and our
    <a href="{{frontend_url}}/schedule">schedule here</a> for what we 
    have coming up!    
</p>

<p>
    We hope to see you soon!
</p>

{% endblock %}