{% extends "base.html" %}

{% block content %}

<h1 style="margin-top:0;">Welcome, {{ name }} 👋</h1>

<p>
  Your account has been successfully created! You're all set to join us for classes.
  Please navigate to your <a href="{{frontend_url}}/dashboard">dashboard</a> where you'll be able to manage your membership,
  view your account details, and stay up to date with everything happening at the gym.
</p>

<p>
  You can also check out our class <a href="{{ frontend_url }}/schedule" style="color:#2563eb;">schedule</a>!
</p>

<p>
  If you have any questions, please don't hesitate to reach out.
</p>

<p>
  We look forward to seeing you soon!
</p>

{% endblock %}