{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="page-section">

  <!-- HERO -->
  <div class="page-hero hero-fade-up">
    <h1>About Ballard Grappling Club</h1>

    <p>
      High-level grappling instruction, strong community,
      and a training environment designed for long-term growth.
    </p>
  </div>

  <!-- VALUES -->
  <div class="page-content about-values fade-up">

    <h2>Our Values</h2>

    <p>
      Ballard Grappling Club is a student-focused environment that believes that 
      hard work, consistency, and fun are the keys to success. We are devoted to high-quality 
      instruction and building community. Our culture is centered around helping you succeed. 
      Whether, you are interested in competition, self-defense, fitness or simply learning 
      something new, we're here to support you in making progress towards your goals.
    </p>

  </div>

  <!-- SPACE -->
  <div class="about-section about-space reveal-left">

    <div class="page-content">
      <h2>Our Space</h2>
      
      <p>
        We're located on Leary Way right on the edge of Ballard and Fremont. Right off the 
        Burke-Gilman trail and with ample parking, we're easily accessible by foot, bike, 
        bus or car. We share our space FUELhouse gym, who share our commitment to building 
        community through fitness and movement.
      </p>
    </div>
    
    <div class="about-image">
      <img src="/static/images/about-space.jpeg"
           alt="Ballard Grappling Club Facility">
    </div>

  </div>

  <!-- INSTRUCTOR -->
  <div class="about-section about-instructor reverse reveal-right">

    <div class="page-content">
      <h2>Meet the Instructor</h2>
      
      <p>
        Ballard Grappling Club is led by Vong Ly. He has been training jiu jitsu since 2011, 
        where he originally began as a hobbyist. He fell in love with the art, problem 
        solving, and community that the sport provided. He has been teaching for 10 years 
        and his proudest moments in the sport have been watching his students succeed. Vong 
        is a one-stripe black belt and has competed regionally. In his free time, he enjoys 
        eating pastries with his wife.
      </p>
    </div>
    
    <div class="about-image">
      <img src="/static/images/about-instructor.jpeg"
           alt="Instructor at Ballard Grappling Club">
    </div>

  </div>

</section>

{% endblock %}