{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<section class="page-section">

  <!-- HERO -->
  <div class="page-hero hero-fade-up">
    <h1>About Ballard Grappling Club</h1>

    <p>
      High-level grappling instruction, strong community,
      and a training environment designed for long-term growth.
    </p>
  </div>

  <!-- VALUES -->
  <div class="page-content about-values fade-up">

    <h2>Our Values</h2>

    <p>
      Ballard Grappling Club was built around the idea that great training
      environments are created through consistency, hard work, and having fun.
      We are devoted to quality instruction and building community.
      Whether your goal is competition, self-defense, fitness, or simply
      learning something new, our culture is centered around helping you
      make progress towards your goals.
    </p>

  </div>

  <!-- SPACE -->
  <div class="about-section about-space reveal-left">

    <div class="page-content">
      <h2>Our Space</h2>
      
      <p>
        We're located on Leary Way right on the edge of Ballard and Fremont,
        We share space with FUELhouse gym....
        Say something nice about FUELhouse and their community
      </p>
    </div>
    
    <div class="about-image">
      <img src="/static/images/about-space.jpeg"
           alt="Ballard Grappling Club Facility">
    </div>

  </div>

  <!-- INSTRUCTOR -->
  <div class="about-section about-instructor reverse reveal-right">

    <div class="page-content">
      <h2>Meet the Instructor</h2>
      
      <p>
        Vong Ly has been training for 15 years
        Teaching for 10 years
        given his black belt in 2022
        1 stripe black belt 
        Originally found jiu jitsu while looking for a hobby to stay in shape
        Fell in love the the art and the community that it drew
      </p>
    </div>
    
    <div class="about-image">
      <img src="/static/images/about-instructor.jpeg"
           alt="Instructor at Ballard Grappling Club">
    </div>

  </div>

</section>

{% endblock %}