{% extends "base.html" %}

{% block title %}Ballard Grappling{% endblock %}

{% block head %}
  <link rel="preload" as="logo_main_compass" href="/static/images/logo/logo_main_compass_clear.svg">
{% endblock %}

{% block content %}

  <div class="hero-home">

    <!-- subtle atmospheric overlay -->
    <div class="mist-layer"></div>

    <!-- logo container -->
    <div class="logo-wrap">
      <img src="/static/images/logo/logo_main_compass_clear.svg" alt="Ballard Grappling Club Logo" class="hero-logo"/>
    </div>

  </div>

{% endblock %}