{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}

<section class="page-section">

  <!-- HERO -->
  <div class="page-hero hero-fade-up">
    <h1>Training Schedule</h1>

    <p>
      Consistent training. Focused classes. Built for beginners and experienced
      grapplers alike.
    </p>
  </div>

  <!-- SCHEDULE -->
  <div class="schedule-container">

    <!-- TUESDAY -->
    <div class="schedule-row">
      <div class="schedule-day"><h2>Tuesday</h2></div>

      <div class="schedule-details">
        <div class="schedule-time">6:30 PM - 8:00 PM</div>
        <div class="schedule-type">Jiu Jitsu</div>
        <div class="schedule-type">No Gi Focused</div>
      </div>
    </div>

    <!-- THURSDAY -->
    <div class="schedule-row delay-1">
      <div class="schedule-day"><h2>Thursday</h2></div>

      <div class="schedule-details">
        <div class="schedule-time">6:30 PM - 8:00 PM</div>
        <div class="schedule-type">Jiu Jitsu</div>
        <div class="schedule-type">Gi Focused</div>
      </div>
    </div>

    <!-- SATURDAY -->
    <div class="schedule-row delay-2">
      <div class="schedule-day"><h2>Saturday</h2></div>

      <div class="schedule-details">
        <div class="schedule-time">11:00 AM - 12:30 PM</div>
        <div class="schedule-type">Jiu Jitsu</div>
        <div class="schedule-type">Gi Focused</div>
      </div>
    </div>

  </div>

  <!-- INFO -->
  <div class="page-content schedule-info">

    <h2>What To Expect</h2>

    <p>
      Classes are marked with a focus in gi or no-gi, but all are
      welcomed to attend regardless of equipment. Each class will
      include an organized warm-up, technical instruction, positional
      training, and optional live rounds. All classes are beginner
      friendly-whom will be following our 12 week fundamentals
      curriculum. Please reach out if you have any questions.
    </p>

  </div>

</section>

{% endblock %}